@model ControlActive.Models.InstallmentAsset
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create";
}

<div class="page-title">
    <div class="title_left">
        <h3>@Localizer["Obsh"]</h3>
    </div>


</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <a class="btn btn-outline-secondary" type="button" asp-controller="InstallmentAssets" asp-action="Index"><i class="fas fa-backward"></i>@Localizer["Back"] </a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.Target == 1)
                    {
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 label-align">
                                @Localizer["RealEstates"]  <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" name="name" required="required" value=@ViewBag.Name readonly />
                                <input name="id" value="@ViewBag.Id" hidden />
                            </div>
                        </div>
                    }
                    @if (ViewBag.Target == 2)
                    {
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 label-align">
                                @Localizer["Shares"]  <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" name="name" required="required" value=@ViewBag.Name readonly />
                                <input name="id" value="@ViewBag.Id" hidden />
                            </div>
                        </div>
                    }

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["GoverningBodyName"] <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="GoverningBodyName" class="form-control" required="required" />
                            <span asp-validation-for="GoverningBodyName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["SolutionNumber"]   <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="SolutionNumber" class="form-control" required="required" />
                            <span asp-validation-for="SolutionNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["SolutionDate"] <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="SolutionDate" class="date-picker form-control" placeholder="dd-mm-yyyy" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <span asp-validation-for="SolutionDate" class="text-danger"></span>
                            <script>
                                function timeFunctionLong(input) {
                                    setTimeout(function () {
                                        input.type = 'text';
                                    }, 60000);
                                }
                            </script>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["SolutionFileId"] <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="file" asp-for="SolutionFileId" accept=".pdf, application/pdf" class="form-control" name="solutionFile" value="default" required />

                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["BiddingDate"]  <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="BiddingDate" class="date-picker form-control" placeholder="dd-mm-yyyy" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <span asp-validation-for="BiddingDate" class="text-danger"></span>
                            <script>
                                function timeFunctionLong(input) {
                                    setTimeout(function () {
                                        input.type = 'text';
                                    }, 60000);
                                }
                            </script>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["AssetBuyerName"]   <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="AssetBuyerName" class="form-control" required="required" />
                            <span asp-validation-for="AssetBuyerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["AmountOfAssetSold"]  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="amountSold" type="text" asp-for="AmountOfAssetSold" class="form-control" required="required" />
                            <span id="errorMsg1" style="display:none; color:red;">@Localizer["MustBe"] </span>
                            <span asp-validation-for="AmountOfAssetSold" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["AggreementDate"] <span class="required">*</span>
                        </label>

                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="AggreementDate" class="date-picker form-control" placeholder="dd-mm-yyyy" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                            <span asp-validation-for="AggreementDate" class="text-danger"></span>
                            <script>
                                function timeFunctionLong(input) {
                                    setTimeout(function () {
                                        input.type = 'text';
                                    }, 60000);
                                }
                            </script>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["AggreementNumber"]  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="AggreementNumber" class="form-control" required="required" />
                            <span asp-validation-for="AggreementNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["AggreementFileId"] <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="file" asp-for="AggreementFileId" name="agreementFile" accept=".pdf, application/pdf" class="form-control" value="default" required />

                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["InstallmentTime"]  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="number" min="0" step="1" asp-for="InstallmentTime" class="form-control" oninput="validity.valid||(value='');" required="required" />
                            <span asp-validation-for="InstallmentTime" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["ActualInitPayment"]  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="amountInFact" type="text" asp-for="ActualInitPayment" class="form-control" required="required" />
                            <span id="errorMsg2" style="display:none; color:red;"> @Localizer["MustBe"] </span>
                            <span asp-validation-for="ActualInitPayment" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["PaymentPeriodType"]  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="PaymentPeriodType" class="select2_single form-control" asp-items="ViewBag.Period" required="required"></select>
                            <span asp-validation-for="PaymentPeriodType" class="text-danger"></span>
                            <input name="periods" value="@ViewBag.Period" hidden />
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 label-align">
                            @Localizer["ActualPayment"]  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input id="amounLastP" type="text" asp-for="ActualPayment" class="form-control" required="required" />
                            <span id="errorMsg3" style="display:none; color:red;">  @Localizer["MustBe"] </span>
                            <span asp-validation-for="ActualPayment" class="text-danger"></span>
                        </div>
                    </div>

                    <input name="target" value="@ViewBag.Target" hidden />
                    <div class="ln_solid"></div>
                    <div class="item form-group">
                        <div class="col-md-6 col-sm-6 offset-md-3">

                            <button id="submit" type="submit" asp-controller="InstallmentAssets" asp-action="Create" value="Create" class="btn btn-info"><i class="fas fa-plus-circle"></i>@Localizer["Create"] </button>

                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

@section scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/valiadationMessages.js"></script>

    <script>
        var v = document.getElementById("amountSold");
        var v2 = document.getElementById("amountInFact");
        var v3 = document.getElementById("amounLastP");
        var flag = true;

        $("#submit").click(function () {

            if (v.value == "") {

                v.style.borderColor = "red";

                flag = false;

            }

            else if (!isNaN(v.value) && v.value >= 0) {

                v.style.borderColor = "green";
                $('#errorMsg1').hide();
                flag = true;
            }

            else {
                flag = false;
                v.style.borderColor = "red";
                $('#errorMsg1').show();
            }

            if (v2.value == "") {

                v2.style.borderColor = "red";

                flag = false;

            }

            else if (!isNaN(v2.value) && v2.value >= 0) {

                v2.style.borderColor = "green";
                $('#errorMsg2').hide();
                flag = true;
            }

            else {
                flag = false;
                v2.style.borderColor = "red";
                $('#errorMsg2').show();
            }

            if (v3.value == "") {

                v2.style.borderColor = "red";

                flag = false;

            }

            else if (!isNaN(v3.value) && v3.value >= 0) {

                v3.style.borderColor = "green";
                $('#errorMsg3').hide();
                flag = true;
            }

            else {
                flag = false;
                v3.style.borderColor = "red";
                $('#errorMsg3').show();
            }


            if (!flag) {

                return false;
            }

            return flag;
        });


    </script>


}