@model ControlActive.Models.InstallmentAsset

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InstallmentAsset</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoverningBodyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoverningBodyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionFileLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionFileLink)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiddingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiddingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetBuyerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetBuyerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfAssetSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfAssetSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggreementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggreementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggreementNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggreementNumber)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AggreementFileLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AggreementFileLink)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallmentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallmentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualInitPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualInitPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentPeriodType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentPeriodType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualPayment)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActAndAssetDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActAndAssetDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActAndAssetNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActAndAssetNumber)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActAndAssetFileLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActAndAssetFileLink)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="InstallmentAssetId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
