@model IEnumerable<ControlActive.Models.InstallmentAsset>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";

}

<style>

    input[type="text"]:read-only {
        background-color: white;
    }

    #periodSelect, #asset_name, #periodSelect_, #asset_name_ {
        background: url(../images/down-arrow.svg) no-repeat scroll 96% 10px;
    }

    select:hover {
        border-bottom: 5px solid #6610f2;
    }

    .dateIcon {
        background: url(../images/calendar.svg) no-repeat scroll 96% 8px;
    }

    .file {
        background: url(../images/pdfFile.svg) no-repeat scroll 96% 8px;
    }

    input:hover {
        border-bottom: 5px solid #6610f2;
    }

    .dropbtn {
        width: fit-content;
        font-size: 16px;
        border: none;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: relative;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: auto;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #ddd;
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    th {
        font-size: 15px;
    }

</style>

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>
                    @Localizer["Obsh"]
                </h3>
            </div>
            <div class="col-12 col-sm-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"> <i data-feather="home"></i></a></li>

                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row project-cards">
        <div class="col-md-12 project-list">
            <div class="card">
                <div class="row">
                    <div class="col-md-10 p-0">
                        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                            <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true"><i data-feather="target"></i>@Localizer["RealEstates"]</a></li>
                            <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="false"><i data-feather="info"></i>@Localizer["Shares"]</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 p-0 dropdown ">
                        <div class="form-group mb-0 me-0"></div>

                        <button class="btn dropbtn btn-primary" href="projectcreate.html"> <i data-feather="plus-square"> </i>@Localizer["Create"]</button>
                        <div class="dropdown-content">
                            <a id="b1" class="dropdown-item" onclick="openCreateModal(1)" >@Localizer["RealEstates"]</a>
                            <div class="dropdown-divider"></div>
                            <a id="b2" class="dropdown-item" onclick="openCreateModal(2)" >@Localizer["Shares"]</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                            <div class="dt-ext table-responsive">
                                <table id="table1" class="table display projects">
                                    <thead>
                                        <tr>
                                            
                                            <th style="width: 20%">@Localizer["RealEstateName"]</th>
                                            <th>Статус</th>
                                            <th>@Localizer["AmountOfAssetSold"]</th>
                                            <th>@Localizer["SolutionFileId"]</th>
                                            
                                            <th style="width: 25%">###</th>
                                        </tr>
                                    </thead>
                                    
                                </table>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                            <div class="dt-ext table-responsive">
                                <table id="table2" class="table display projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%">@Localizer["BusinessEntityName"]</th>
                                            <th>Статус</th>
                                            <th>@Localizer["AmountOfAssetSold"]</th>
                                            <th>@Localizer["SolutionFileId"]</th>
                                            
                                            <th style="width: 25%">###</th>

                                        </tr>
                                    </thead>
                                    
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

 
<div class="modal fade modal-bookmark" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">@Localizer["NewCreate"]</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">                                                 </button>
            </div>
            <div class="modal-body">
                <form class="form-bookmark " id="create-form" novalidate="">
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <input type="text" id="target" name="target" hidden/>
                                <div class="d-inline-block col-md-6">
                                    <label for="task-title">@Localizer["AssetName"]</label>
                                    <select class="form-control input-air-secondary" id="asset_name" name="assetId" type="text" required="" autocomplete="off">
                                        <option selected disabled value="">--@Localizer["choose"]--</option>
                                    </select>
                                </div>

                                <div class="d-inline-block col-md-6">
                                    <label for="sub-task">@Localizer["GoverningBodyName"]</label>
                                    <input type="text" id="orgName" name="governingBodyName" class="form-control input-air-secondary" required="" autocomplete="off">
                                </div>
                                
                            </div>
                            
                        </div>
                       <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <input type="text"  id="display-solutionFile" onclick="document.getElementById('SolutionFileIn').click()" style="cursor:pointer" placeholder="@Localizer["SolutionFileId"]" class="form-control input-air-primary file"  required="" autocomplete="off"  readonly >
                                    <input type="file" name="solutionFile" id="SolutionFileIn" onchange="getSFile(this.value)" style="display:none" accept=".pdf, application/pdf" class="form-control" value="default" required />
                                    
                                    <span style="display:none; " id="noSFileMsg">Файлни танланг</span>
                                    
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="solutionDate" name="solutionDate" placeholder="@Localizer["SolutionDate"]" class="datepicker-here form-control digits input-air-primary dateIcon"  required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                 
                                    <input type="text" id="solutionNumber" name="solutionNumber" placeholder="@Localizer["SolutionNumber"]" class="form-control input-air-primary" required="" autocomplete="off">
                                </div>
                             </div>                              
                        </div>
                        <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <input type="text" id="biddingDate" placeholder="@Localizer["BiddingDate"]" name="biddingDate" class="datepicker-here form-control digits input-air-primary dateIcon"  required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="assetBuyerName" placeholder="@Localizer["AssetBuyerName"]" name="assetBuyerName" class="form-control input-air-primary"  required="" autocomplete="off">
                                </div>
                                <div class="d-inline-block col-md-4">                                 
                                    <input type="text" id="amountOfAssetSold" placeholder="@Localizer["AmountOfAssetSold"]" name="amountOfAssetSold"  class="form-control input-air-primary "  required="" autocomplete="off">
                                </div>
                             </div>                              
                        </div>
                        <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <input type="text" id="aggreementDate" name="aggreementDate" placeholder="@Localizer["AggreementDate"]" class="datepicker-here form-control digits input-air-primary dateIcon" required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="aggreementNumber" name="aggreementNumber" placeholder="@Localizer["AggreementNumber"]" class="form-control input-air-primary"  required="" autocomplete="off">
                                </div>

                                <div id="agFileId" class="d-inline-block col-md-4">                                 
                                    <input style="cursor:pointer" id="display-AgreementFile" placeholder="@Localizer["AggreementFileId"]" class="form-control input-air-primary file"  type="text" required="" autocomplete="off" onclick="document.getElementById('AgreementFileIn').click()" readonly/>
                                    <input type="file" name="agreementFile" placeholder="Олди-сотди шартномаси PDF форматида *" id="AgreementFileIn" onchange="getAgFile(this.value)" style="display:none" accept=".pdf, application/pdf" class="form-control" value="default" required />
                                    <span style="display:none; " id="noAFileMsg">Файлни танланг</span>
                                </div>
                             </div>                              
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-3">
                                    <label style="margin-top:10px" class="sub-task">@Localizer["InstallmentTime"]</label>
                                    <input type="text" id="installmentTime" name="installmentTime" style="margin-top:10px" class="touchspin" value="12">
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                 <div class="d-inline-block col-md-3">
                                   <label class="sub-task">@Localizer["ActualInitPayment"]</label>
                                <div class="input-group mb-4">

                                    <span class="input-group-text input-air-secondary">сўм</span>
                                    <input type="text" id="actualInitPayment" name="actualInitPayment" class="form-control input-air-secondary" aria-label="Amount (to the nearest dollar)">
                                </div>
                                </div>
                         
                            <div class="d-inline-block col-md-4">
                                <label class="sub-task">@Localizer["PaymentPeriodType"]</label>
                                <div class="input-group mb-4">

                                    <span id="time"  class="input-group-text input-air-secondary"><i class="fa fa-clock-o"></i>  </span>
                                    <select type="text" id="periodSelect" name="paymentPeriodType" class="form-control input-air-secondary" aria-label="Amount (to the nearest dollar)">
                                            <option value ="12">ой</option>
                                            <option value ="4">квартал</option>
                                            <option value ="1">йил</option>
                                          
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="d-inline-block col-md-4">
                                <label class="sub-task">@Localizer["ActualPayment"]</label>
                                <div class="input-group mb-4">

                                    <span class="input-group-text input-air-secondary">сўм</span>
                                    <input type="text" id="actualPayment" name="actualPayment" class="form-control input-air-secondary"  aria-label="Amount (to the nearest dollar)">
                                </div>
                            </div>
                            </div>
                           
                        </div>
      
                    </div>
                    <hr class="mt-4 mb-4">
                    <button class="btn btn-pill btn-secondary btn-air-light" id="create-btn" type="submit">@Localizer["submit"]</button>&nbsp;
                    <button class="btn btn-pill btn-primary btn-air-light" type="button" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-bookmark" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel"><i class="icofont icofont-edit-alt"></i> @Localizer["Edit"]</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-bookmark " id="edit-form" novalidate="">
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-6">
                                    <input id="step1Id" name="id" hidden/>
                                    <label for="task-title">@Localizer["AssetName"]</label>
                                    <select class="form-control js-example-disabled input-air-secondary" id="asset_name_" name="assetId" type="text" required="" autocomplete="off">
                                        
                                    </select>
                                </div>

                                <div class="d-inline-block col-md-6">
                                    <label for="sub-task">@Localizer["GoverningBodyName"]</label>
                                    <input type="text" id="orgName_" name="governingBodyName" class="form-control input-air-secondary" required="" autocomplete="off">
                                </div>
                                
                            </div>
                            
                        </div>
                       <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <div class="input-group mb-4">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Ҳужжатни кўриш" class="input-group-text" style="cursor:pointer"><a href="" id="sLink" target="_blank"><i class="icofont icofont-external-link"></i></a></span>
                                        <input type="text"  id="display-solutionFile_" onclick="document.getElementById('SolutionFileIn_').click()" style="cursor:pointer" placeholder="@Localizer["SolutionFileId"]" class="form-control input-air-primary file"  required="" autocomplete="off"  readonly >
                                    </div>
                                    <input type="file" name="solutionFile" id="SolutionFileIn_" onchange="getSFile_(this.value)" style="display:none" accept=".pdf, application/pdf" class="form-control" value="default"/>                                 
                                                                   
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="solutionDate_" name="solutionDate" placeholder="@Localizer["SolutionDate"]" class="datepicker-here form-control digits input-air-primary dateIcon"  required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                 
                                    <input type="text" id="solutionNumber_" name="solutionNumber" placeholder="@Localizer["SolutionNumber"]" class="form-control input-air-primary" required="" autocomplete="off">
                                </div>
                             </div>                              
                        </div>
                        <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <input type="text" id="biddingDate_" placeholder="@Localizer["BiddingDate"]" name="biddingDate" class="datepicker-here form-control digits input-air-primary dateIcon"  required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="assetBuyerName_" placeholder="@Localizer["AssetBuyerName"]" name="assetBuyerName" class="form-control input-air-primary"  required="" autocomplete="off">
                                </div>
                                <div class="d-inline-block col-md-4">                                 
                                    <input type="text" id="amountOfAssetSold_" placeholder="@Localizer["AmountOfAssetSold"]" name="amountOfAssetSold"  class="form-control input-air-primary "  required="" autocomplete="off">
                                </div>
                             </div>                              
                        </div>
                        <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <input type="text" id="aggreementDate_" name="aggreementDate" placeholder="@Localizer["AggreementDate"]" class="datepicker-here form-control digits input-air-primary dateIcon" required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="aggreementNumber_" name="aggreementNumber" placeholder="@Localizer["AggreementNumber"]" class="form-control input-air-primary"  required="" autocomplete="off">
                                </div>

                                <div class="d-inline-block  col-md-4">
                                    <div class="input-group mb-4">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Ҳужжатни кўриш" class="input-group-text" style="cursor:pointer"><a href="" id="agLink" target="_blank"><i class="icofont icofont-external-link"></i></a></span>
                                        <input style="cursor:pointer" id="display-AgreementFile_" placeholder="@Localizer["AggreementFileId"]" class="form-control input-air-primary file"  type="text" autocomplete="off" onclick="document.getElementById('AgreementFileIn_').click()" readonly/>
                                    </div>
                                     <input type="file" name="agreementFile"  id="AgreementFileIn_" onchange="getAgFile_(this.value)" style="display:none" accept=".pdf, application/pdf" class="form-control" value="default" />
                                    
                                </div>
                             </div>                              
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-3">
                                    <label style="margin-top:10px" class="sub-task">@Localizer["InstallmentTime"]</label>
                                    <input type="text" id="installmentTime_" name="installmentTime" style="margin-top:10px" class="touchspin" value="12">
                                </div>
                                
                            </div>
                            
                        </div>
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                 <div class="d-inline-block col-md-3">
                                   <label class="sub-task">@Localizer["ActualInitPayment"]</label>
                                <div class="input-group mb-4">

                                    <span class="input-group-text input-air-secondary">сўм</span>
                                    <input type="text" id="actualInitPayment_" name="actualInitPayment" class="form-control input-air-secondary" aria-label="Amount (to the nearest dollar)">
                                </div>
                                </div>
                         
                            <div class="d-inline-block col-md-4">
                                <label class="sub-task">@Localizer["PaymentPeriodType"]</label>
                                <div class="input-group mb-4">

                                    <span id="time"  class="input-group-text input-air-secondary"><i class="fa fa-clock-o"></i>  </span>
                                    <select type="text" id="periodSelect_" name="paymentPeriodType" class="form-control input-air-secondary" aria-label="Amount (to the nearest dollar)">
                                            <option value ="12">ой</option>
                                            <option value ="4">квартал</option>
                                            <option value ="1">йил</option>
                                          
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="d-inline-block col-md-4">
                                <label class="sub-task">@Localizer["ActualPayment"]</label>
                                <div class="input-group mb-4">

                                    <span class="input-group-text input-air-secondary">сўм</span>
                                    <input type="text" id="actualPayment_" name="actualPayment" class="form-control input-air-secondary"  aria-label="Amount (to the nearest dollar)">
                                </div>
                            </div>
                            </div>
                           
                        </div>
      
                    </div>
                    <hr class="mt-4 mb-4">
                    <button class="btn btn-pill btn-secondary btn-air-light" id="edit-btn" type="submit">@Localizer["Save"]</button>&nbsp;
                    <button class="btn btn-pill btn-primary btn-air-light" type="button" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="saleDModal" tabindex="-1" role="dialog" aria-labelledby="saleDModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["DModal"]</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Localizer["AssetName"]: <span style="color:#7332a8" id="assetName"></span></p>
                <p>@Localizer["GoverningBodyName"]: <span style="color:#7332a8" id="organization"></span></p>
                <p>@Localizer["SolutionFileId"]: <a href="" id="sFile" target="_blank"></a></p>
                <p>@Localizer["SolutionNumber"]: <span style="color:#7332a8" id="sNumber"></span></p>
                <p>@Localizer["SolutionDate"]: <span style="color:#7332a8" id="sDate"></span></p>
                <p>@Localizer["BiddingDate"]: <span style="color:#7332a8" id="bDate"></span></p>
                <p>@Localizer["AssetBuyerName"]: <span style="color:#7332a8" id="buyerName"></span></p>
                <p>@Localizer["AmountOfAssetSold"]: <span style="color:#7332a8" id="amountSold"></span></p>
                <p>@Localizer["AggreementDate"]: <span style="color:#7332a8" id="aDate"></span></p>
                <p>@Localizer["AggreementNumber"]: <span style="color:#7332a8" id="aNumber"></span></p>
                <p>@Localizer["AggreementFileId"]: <a href="" id="agFile" target="_blank"></a></p>
                <p>@Localizer["InstallmentTime"]: <span style="color:#7332a8" id="iTime"></span></p>
                <p>@Localizer["ActualInitPayment"]: <span style="color:#7332a8" id="initP"></span></p>
                <p>@Localizer["PaymentPeriodType"]: <span style="color:#7332a8" id="pType"></span></p>
                <p>@Localizer["ActualPayment"]: <span style="color:#7332a8" id="aPayment"></span></p>

                <hr>
                
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade modal-bookmark" id="createActModal" tabindex="-1" role="dialog" aria-labelledby="createActModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createActModalLabel">@Localizer["CreateAct"]</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">                                                 </button>
            </div>
            <div class="modal-body">
                <form class="form-bookmark " id="create-act-form" novalidate="">
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <input type="text" id="_installmentAssetId" name="installmentId" hidden />
                                <div class="d-inline-block col-md-6">
                                    <label for="task-title">@Localizer["AssetName"]</label>
                                    <input class="form-control input-air-secondary" id="_asset_name" type="text" readonly autocomplete="off"/>   
                                
                                </div>

                                @*<div class="d-inline-block col-md-6">
                                    <label for="sub-task">@Localizer["GoverningBodyName"]</label>
                                    <input type="text" id="orgName" name="governingBodyName" class="form-control input-air-secondary" required="" autocomplete="off">
                                </div>*@
                                
                            </div>
                            
                        </div>
                       <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <input type="text"  id="display-actFile" onclick="document.getElementById('ActFileIn').click()" style="cursor:pointer" placeholder="@Localizer["ActAndAssetFile"]" class="form-control input-air-primary file"  required="" autocomplete="off"  readonly >
                                    <input type="file" name="actFile" id="ActFileIn" onchange="getActFile(this.value)" style="display:none" accept=".pdf, application/pdf" class="form-control" value="default" required />
                                    
                                    <span style="display:none; " id="noActFileMsg">Файлни танланг</span>
                                    
                                </div>
                                <div class="d-inline-block col-md-4">                                  
                                    <input type="text" id="actAndAssetDate" name="actAndAssetDate" placeholder="@Localizer["ActAndAssetDate"]" class="datepicker-here form-control digits input-air-primary dateIcon"  required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">                                 
                                    <input type="text" id="actAndAssetNumber" name="actAndAssetNumber" placeholder="@Localizer["ActAndAssetNumber"]" class="form-control input-air-primary" required="" autocomplete="off">
                                </div>
                             </div>                              
                        </div>
                        
      
                    </div>
                    <hr class="mt-4 mb-4">
                    <button class="btn btn-pill btn-secondary btn-air-light" id="createAct-btn" type="submit">@Localizer["submit"]</button>&nbsp;
                    <button class="btn btn-pill btn-primary btn-air-light" type="button" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-bookmark" id="editActModal" tabindex="-1" role="dialog" aria-labelledby="editActLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editActModalLabel"><i class="icofont icofont-edit-alt"></i> @Localizer["Edit"]</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-bookmark " id="edit-act-form" novalidate="">
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <input type="text" id="_installmentStep2Id" name="installmentStep2Id" hidden />
                                <div class="d-inline-block col-md-6">
                                    <label for="task-title">@Localizer["AssetName"]</label>
                                    <input class="form-control input-air-secondary" id="_asset_name_" type="text" readonly autocomplete="off" />

                                </div>

                                @*<div class="d-inline-block col-md-6">
                                <label for="sub-task">@Localizer["GoverningBodyName"]</label>
                                <input type="text" id="orgName" name="governingBodyName" class="form-control input-air-secondary" required="" autocomplete="off">
                                </div>*@

                            </div>

                        </div>
                        <hr class="mt-4 mb-4">
                        <div class="form-group col-md-12 m-b-20">
                            <div class="row">
                                <div class="d-inline-block col-md-4">
                                    <div class="input-group mb-4">
                                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Ҳужжатни кўриш" class="input-group-text" style="cursor:pointer"><a href="" id="actFileLink" target="_blank"><i class="icofont icofont-external-link"></i></a></span>
                                        <input type="text" id="display-actFile_" onclick="document.getElementById('_ActFileIn').click()" style="cursor:pointer" placeholder="@Localizer["ActAndAssetFile"]" class="form-control input-air-primary file" required="" autocomplete="off" readonly>
                                    </div>
                                    <input type="file" name="actFile" id="_ActFileIn" onchange="getActFile_(this.value)" style="display:none" accept=".pdf, application/pdf" class="form-control" value="default" required />

                                   
                                </div>
                                <div class="d-inline-block col-md-4">
                                    <input type="text" id="_actAndAssetDate" name="actAndAssetDate" placeholder="@Localizer["ActAndAssetDate"]" class="datepicker-here form-control digits input-air-primary dateIcon" required="" autocomplete="off" readonly>
                                </div>
                                <div class="d-inline-block col-md-4">
                                    <input type="text" id="_actAndAssetNumber" name="actAndAssetNumber" placeholder="@Localizer["ActAndAssetNumber"]" class="form-control input-air-primary" required="" autocomplete="off">
                                </div>
                            </div>
                        </div>


                    </div>
                    <hr class="mt-4 mb-4">
                    <button class="btn btn-pill btn-secondary btn-air-light" id="editAct-btn" type="submit">@Localizer["submit"]</button>&nbsp;
                    <button class="btn btn-pill btn-primary btn-air-light" type="button" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="actDModal" tabindex="-1" role="dialog" aria-labelledby="actDModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Localizer["DModal"]</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@Localizer["assetName"]: <span style="color:#7332a8" id="assetName_"></span></p>
                <p>@Localizer["GoverningBodyName"]: <span style="color:#7332a8" id="organization_"></span></p>
                <p>@Localizer["SolutionFileId"]: <a href="" id="sFile_" target="_blank"></a></p>
                <p>@Localizer["SolutionNumber"]: <span style="color:#7332a8" id="sNumber_"></span></p>
                <p>@Localizer["SolutionDate"]: <span style="color:#7332a8" id="sDate_"></span></p>
                <p>@Localizer["BiddingDate"]: <span style="color:#7332a8" id="bDate_"></span></p>
                <p>@Localizer["AssetBuyerName"]: <span style="color:#7332a8" id="buyerName_"></span></p>
                <p>@Localizer["AmountOfAssetSold"]: <span style="color:#7332a8" id="amountSold_"></span></p>
                <p>@Localizer["AggreementDate"]: <span style="color:#7332a8" id="aDate_"></span></p>
                <p>@Localizer["AggreementNumber"]: <span style="color:#7332a8" id="aNumber_"></span></p>
                <p>@Localizer["AggreementFileId"]: <a href="" id="agFile_" target="_blank"></a></p>
                <p>@Localizer["InstallmentTime"]: <span style="color:#7332a8" id="iTime_"></span></p>
                <p>@Localizer["ActualInitPayment"]: <span style="color:#7332a8" id="initP_"></span></p>
                <p>@Localizer["PaymentPeriodType"]: <span style="color:#7332a8" id="pType_"></span></p>
                <p>@Localizer["ActualPayment"]: <span style="color:#7332a8" id="aPayment_"></span></p>

                <hr>
                <p>@Localizer["ActAndAssetDate"]: <span style="color:#7332a8" id="actDate_"></span></p>
                <p>@Localizer["ActAndAssetNumber"]: <span style="color:#7332a8" id="actNumber_"></span></p>
                <p>@Localizer["ActAndAssetFile"]: <a href="" style="color:#7332a8" id="actFile_" target="_blank"></a></p>

            </div>
            
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/installmentAsset.js"></script>
<script>

    var rJson = @Html.Raw(Json.Serialize(@ViewBag.rAssets));
    var rList = JSON.parse(rJson);

    var sJson = @Html.Raw(Json.Serialize(@ViewBag.sAssets));
    var sList = JSON.parse(sJson);
    console.log(rList);
    
    function openCreateModal(e) {
    if (e == 1) {
        $('#asset_name').find('option').not(':first').remove().end();
        $.each(rList, function (i, item) {
            $('#asset_name').append($('<option>', { 
                value: item.Value,
                text : item.Text 
             }));
            console.log(item);
            });
            $('#asset_name').val($("#asset_name option:first").val());
            $('#target').val("1");
            $('#createModal').modal('show');
         }
      

      if (e == 2) {
        $('#asset_name').find('option').not(':first').remove().end();

        $.each(sList, function (i, item) {
            $('#asset_name').append($('<option>', { 
                value: item.Value,
                text : item.Text 
             }));
            });

            $('#asset_name').val($("#asset_name option:first").val());
            $('#target').val("2");
            $('#createModal').modal('show');
         }
      }

    

</script>
}
