@model ControlActive.Models.SubmissionOnBidding

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubmissionOnBidding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TradingPlatformName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TradingPlatformName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOnBidding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOnBidding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiddingExposureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiddingExposureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExposureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExposureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BiddingHoldDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BiddingHoldDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubmissionOnBiddingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
