@model IEnumerable<ControlActive.Models.Region>

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}

<h1>Вилоятлар</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Вилоят қўшиш</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Вилоятлар
            </th>
            <th>
                Фаол
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a  asp-action="Edit" asp-route-id="@item.RegionId">Ўзгартириш</a> 
                    @*<a asp-action="Details" asp-route-id="@item.RegionId">Детально</a>*@ 
                    @*<a asp-action="Delete" asp-route-id="@item.RegionId">Удалить</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
