@model ControlActive.Models.ReductionInAsset

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReductionInAsset</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoverningBodyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoverningBodyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionFileLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionFileLink)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSteps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSteps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetValueAfterDecline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetValueAfterDecline)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReductionInAssetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
