@model ControlActive.Models.SubmissionOnBidding

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SubmissionOnBidding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TradingPlatformName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TradingPlatformName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AmountOnBidding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AmountOnBidding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BiddingExposureDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BiddingExposureDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExposureTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExposureTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BiddingHoldDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BiddingHoldDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealEstate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealEstate.Activity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Share)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Share.ActivityShare)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubmissionOnBiddingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
